@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-rounded-sans);
}

button.wallet-adapter-button-trigger {
  @apply bg-black text-gray-100 hover:bg-black focus:bg-black text-sm md:text-base font-semibold transition-all duration-300;
}

button.wallet-adapter-button-trigger:hover {
  background-color: #000000 !important;
}

@theme inline {
  --animate-grid: grid 30s linear infinite;
 
  @keyframes grid {
    0% {
      transform: translateY(-50%);
    }
    100% {
      transform: translateY(0);
    }
  }
}