@import "tailwindcss";

:root {
  --background: #f3f4f6;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-rounded-sans);
}

button.wallet-adapter-button-trigger {
  @apply rounded-xl bg-zinc-950 text-gray-100 hover:bg-zinc-950 focus:bg-zinc-950 text-lg font-semibold px-2 py-1 transition-all duration-300 border-0;
}

button.wallet-adapter-button-trigger:hover {
  background-color: #09090b !important;
}

@theme inline {
  --animate-grid: grid 15s linear infinite;
 
  @keyframes grid {
    0% {
      transform: translateY(-50%);
    }
    100% {
      transform: translateY(0);
    }
  }
}